<h1>Edit the food</h1>

<div>
  <br>
      <%= simple_form_for [@pet, @food] do |f| %>
      <%= f.input :name, :label => 'Nome' %>
      <%= f.input :category, :label => 'Ração ou Petisco' %>
      <%= f.button :submit, "Edit this food" %>
    <% end %>
