<h1>Update here your allergy</h1>

<%= simple_form_for [@pet, @allergy] do |f| %>
  <%= f.input :name, :label => 'Nome' %>
  <%= f.input :comment, :label => 'Comentário' %>
  <%= f.button :submit, "Edit this allergy" %>
<% end %>
